button.mat-raised-button {
    background-color: #1976d2;
    color: white;
    font-size: 169px;
    border-radius: 8px;
    margin-top: 300px;
    position: fixed;
  }
  .left-button {
    left: 1000px;
    top: 15%; 
    position: fixed;
  }
  mat-form-field {
    width: 70%; /* Prend toute la largeur possible */
    max-width: 300px; /* Limite la largeur */
    margin-bottom: 16px;
    margin-left: 725px;
  }