.content {
  padding: 0px;
  background-color: transparent;
}

mat-toolbar {
  background-color: #116aef;
  position: relative;
  z-index: 5;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-card.form-card {
  min-height: 80vh;
  border-radius: 15px;
  padding: 20px;
  /* background-color: red; */
}

.full-width {
  width: 100%;
  margin: auto;
}

.row {
  margin-bottom: 5px;
}

mat-form-field {
  /* background-color: red; */
  padding: 0px;
  height: 70px;
}

mat-form-field input {
  height: 0px;
  padding: 0px;
  font-size: 14px;
}

.mat-form-field.mat-form-field-required .mat-label .mat-required {
  color: red !important;
}

/* -------------- */

.recommendations-table {
  margin: 20px 0;
}

mat-card {
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: #3f51b5;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #333;
}

th {
  background-color: #3f51b5;
  color: bleu;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) td {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

mat-header-cell,
mat-cell {
  padding: 8px 16px;
}

mat-header-row {
  height: 48px;
}

mat-row {
  height: 48px;
}

mat-card-content {
  padding: 16px;
}

@media (max-width: 768px) {
  table {
    font-size: 12px;
  }
  th,
  td {
    padding: 8px;
  }
}
