.sidenav-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  text-align: left;
}

.sidenav-header img {
  border-radius: 100%;
  object-fit: cover;
  /* width: 65px;
  height: 65px; */
}

.header-text h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.header-text p {
  margin: 0;
  font-size: 0.7rem;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

/* S'assurer que les icônes et titres sont bien alignés */
.mat-list-item {
  display: flex;
  align-items: center;
}

/* Ajuster l'alignement de l'expansion panel */
.menu-expansion .mat-expansion-panel-header {
  padding: 0;
}

/* Empêcher les icônes d'être déplacées par la flèche d'expansion */
.expansion-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
}

/* Uniformiser l'alignement des icônes */
.mat-list-item .mat-icon,
.expansion-header .mat-icon {
  margin-right: 16px;
}

/* Forcer une taille cohérente pour toutes les icônes */
.mat-icon {
  font-size: 24px;
}
