<nav class="sidebar">
    <ul>
        <li>
            <a href="#">Administrateurs</a>
            <ul>
                <li><a href="#">Liste</a></li>
                <li><a href="#">Ajouter</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Patients</a>
            <ul>
                <li><a href="#">Liste</a></li>
                <li><a href="#">Ajouter</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Staff</a>
            <ul>
                <li><a href="#">Liste</a></li>
                <li><a href="#">Ajouter</a></li>
            </ul>
        </li>
    </ul>
</nav>
