<form [formGroup]="recommendationForm" (ngSubmit)="assignDoctor()">
  <!-- Patient ID -->
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Patient ID</mat-label>
      <input matInput formControlName="patientId" type="number" readonly>
    </mat-form-field>
  </div>

  <!-- Doctor Select -->
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Select Doctor</mat-label>
      <mat-select formControlName="doctorId" required>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{ doctor.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Action buttons -->
  <div class="row justify-content-end mt-5">
    <button mat-raised-button color="warn" class="btn" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="recommendationForm.invalid">Assign</button>
  </div>
</form>
