<mat-table [dataSource]="dataSource">
  <!-- Colonne Nom -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>

  <!-- Colonne Rôle -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.role }} </mat-cell>
  </ng-container>

  <!-- Colonne Approbation -->
  <ng-container matColumnDef="approval">
    <mat-header-cell *matHeaderCellDef> Approval </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-slide-toggle [(ngModel)]="user.approved" (change)="toggleApproval(user)">
        {{ user.approved ? 'Approuvé' : 'En attente' }}
      </mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <!-- Ligne d'en-tête -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!-- Ligne de données -->
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="users.length"
               [pageSize]="7"
               aria-label="Sélectionner la page">
</mat-paginator>
