<<<<<<< Updated upstream
.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-card {
  max-width: 400px;
  margin: 10px auto;
}

mat-slide-toggle {
  margin-top: 10px;
}
=======
mat-table {
    width: 100%;
  }
  
  button {
    margin: 5px;
  }
>>>>>>> Stashed changes
