<div class="audit-table">
  <mat-card class="form-card">
    <mat-card-title>Approval Records</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{ entry.userName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{ entry.email }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{ entry.role }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="approval">
          <mat-header-cell *matHeaderCellDef> Approval </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-slide-toggle [(ngModel)]="user.approved" (change)="toggleApproval(user)">
              {{ user.approved ? 'approval' : 'Pending' }}
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let entry"> {{ entry.timestamp | date: 'short' }} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [length]="dataSource.data.length"
                    [pageSize]="7"
                    aria-label="Sélectionner la page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
