.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  width: 500px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  margin-top: 15px;
}
