.dashboard-container {
  display: flex;
  height: calc(100vh - 60px); /* Moins la hauteur du header */
}

app-sidebar {
  width: 30%;
  background-color: #f8f9fa;
  padding: 10px;
}

app-main-content {
  width: 70%;
  background-color: yellow;
  padding: 10px;
}
