<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logout button -->
  <button mat-button class="logout-button" (click)="logout()">
  <!--   <mat-icon>Logout</mat-icon> Profil Icon -->
    Logout
  </button>
</mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">
      <!-- <app-sidebar /> -->
      <app-sidebar [collapsed]="collapsed()"/>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavwidth()">
      <mat-card>
        <mat-card-content><router-outlet></router-outlet></mat-card-content>
      </mat-card>
     
      
    </mat-sidenav-content>
  </mat-sidenav-container>
 