<!-- <mat-card>
    <mat-card-title>Update Profile</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="profile.email" name="email" required />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="profile.firstName" name="firstName" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="profile.lastName" name="lastName" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Profile Photo</mat-label>
          <input matInput type="file" (change)="onFileChange($event)" />
        </mat-form-field>
  
        <button mat-raised-button type="submit">Update Profile</button>
      </form>
    </mat-card-content>
  </mat-card>
   -->