<h2>Informations</h2>


<div class="profile-pic">
  <img [src]="profilePic" [alt]="'Profil'" [width]="100" [height]="100">
  <input #fileInput type="file" (change)="changeProfilePic($event)" accept="image/*" hidden>
  <button mat-icon-button (click)="fileInput.click()">
    <mat-icon>edit</mat-icon>
  </button>
</div>


<!-- Informations Utilisateur -->
<div class="profile-info">
  <mat-form-field>
    <mat-label>User name</mat-label>
    <input matInput [value]="username" disabled>
  </mat-form-field>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Entrez votre email">
    </mat-form-field>
  </div>
  
</div>

<!-- Bouton de mise à jour -->
<div class="modal-actions">
  <button mat-raised-button (click)="updateProfile()">Mettre à jour le profil</button>
  <button mat-button class="custom-button" (click)="close()">Annuler</button>
</div>
