<div class="main-content">
    <h2>Patients List</h2>
</div>
<div>
    <button mat-raised-button color="primary" class="left-button" (click)="addPatient()">Add Patients</button>
</div>
<div class="form-container">
  <mat-form-field appearance="outline" class="custom-form-field">
    <input matInput (input)="applyFilter($event)" placeholder="Enter patient name" />
  </mat-form-field>
</div>
<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> ID </th>
      <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.id}} </td>
    </ng-container>
  
    <!-- Colonne Name -->
   <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="custom-header mat-column-fullName"> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName }} {{ element.lastName }} </td>
    </ng-container>

 
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Age </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.age}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef  class="custom-header"> Gender </th>
      <td mat-cell *matCellDef="let element"  [ngClass]="{'male-gender': element.gender === 'Male', 'female-gender': element.gender === 'Female'}"> {{element.gender}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="bloodGroup">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Blood G </th>
      <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
    </ng-container>  
  
   
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef class="custom-header mat-column-mobile"> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="custom-header mat-column-email"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef class="custom-header mat-column-city"> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
  
    <ng-container matColumnDef="assign">
  <th mat-header-cell *matHeaderCellDef class="custom-header"> Assign </th>
  <td mat-cell *matCellDef="let element" style="display: flex; gap: 5px;">
    <!-- Bouton d'assignation -->
    <button mat-icon-button color="primary" matTooltip="Assign" (click)="assignPatient(element.id)">
      <mat-icon>assignment</mat-icon>
    </button>
  </td>
</ng-container>

   
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="custom-header mat-column-actions">Actions</th>
      <td mat-cell *matCellDef="let element" style="display: flex; gap: -7px;">
        <!-- Bouton d'édition -->
        <button mat-icon-button color="primary" matTooltip="Assign"  (click)="assignPatient(element.id)">
          <mat-icon>assignment</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="Edit"  (click)="editPatient(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
    
     
        <!-- <button mat-icon-button color="warn" (click)="deletePatient(element.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button> -->

        <button *ngIf="isAdmin" mat-icon-button color="warn" (click)="deletePatient(element.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
    
      
        <button mat-icon-button color="accent" matTooltip="Vieux" (click)="viewPatientDetails(element.id)">
          <mat-icon>visibility</mat-icon>
        </button>
    
       
        <button mat-icon-button color="success" matTooltip="Recommandation"  (click)="recommendPatient(element.id)">
          <mat-icon>thumb_up</mat-icon>
        </button>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-data-row"></tr>
    
  </table>
</div>
  
  <mat-paginator 
  [length]="100" 
  [pageSize]="4" 
  [pageSizeOptions]="[2, 4, 6]" 
  showFirstLastButtons
  aria-label="Custom Pagination">
</mat-paginator>