<div class="main-content">
    <h2>Patients List</h2>
</div>
<div>
    <button mat-raised-button color="primary" class="left-button">Add Patients</button>
</div>
<div class="form-container">
  <mat-form-field appearance="outline" class="custom-form-field">
    <input matInput (input)="applyFilter($event)" placeholder="Enter patient name" />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Colonne ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> ID </th>
      <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.id}} </td>
    </ng-container>
  
    <!-- Colonne Nom -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <!-- Colonne Âge -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Age </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.age}} </td>
    </ng-container>
  
    <!-- Colonne Genre -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef  class="custom-header"> Gender </th>
      <td mat-cell *matCellDef="let element"  [ngClass]="{'male-gender': element.gender === 'Male', 'female-gender': element.gender === 'Female'}"> {{element.gender}} </td>
    </ng-container>
  
    <!-- Colonne Groupe Sanguin -->
    <ng-container matColumnDef="bloodGroup">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Blood G </th>
      <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
    </ng-container>
  
    <!-- Colonne Traitement -->
    <ng-container matColumnDef="treatment">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Traitment </th>
      <td mat-cell *matCellDef="let element"> {{element.treatment}} </td>
    </ng-container>
  
    <!-- Colonne Mobile -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
  
    <!-- Colonne Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Colonne Adresse -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <!-- Colonne Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="custom-header">Actions</th>
      <td mat-cell *matCellDef="let element" style="display: flex; gap: -7px;">
        <!-- Bouton d'édition -->
        <button mat-icon-button color="primary" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
    
        <!-- Bouton de suppression -->
        <button mat-icon-button color="warn" (click)="deletePatient(element.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
    
        <!-- Icône "Voir Détail" -->
        <button mat-icon-button color="accent" matTooltip="Vieux">
          <mat-icon>visibility</mat-icon>
        </button>
    
       
        <button mat-icon-button color="success" matTooltip="Recomendation">
          <mat-icon>thumb_up</mat-icon>
        </button>
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-data-row"></tr>
    
  </table>
  
  <mat-paginator 
  [length]="100" 
  [pageSize]="4" 
  [pageSizeOptions]="[2, 4, 6]" 
  showFirstLastButtons
  aria-label="Custom Pagination">
</mat-paginator>